In [3]:
import pandas

In [5]:
adopce = pandas.read_csv("adopce-zvirat.csv", sep=";")
adopce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    int64
 1   nazev_cz     513 non-null    object
 2   nazev_en     513 non-null    object
 3   trida_cz     513 non-null    object
 4   cena         513 non-null    int64
 5   k_prohlidce  513 non-null    int64
dtypes: int64(3), object(3)
memory usage: 24.2+ KB

In [16]:
adopce.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [17]:
adopce.iloc[34, [1,2]]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

In [18]:
adopce.iloc[34,[1,2]]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

In [19]:
adopce_bonus = pandas.read_csv("adopce-zvirat.csv", sep=";", index_col="nazev_cz")
adopce_bonus.columns

Index(['id', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [20]:
adopce_bonus.index.is_unique

True

In [21]:
serazeno = adopce_bonus.sort_index()

In [22]:
serazeno.loc["Outloň váhavý"]

id                          749
nazev_en       Sunda slow loris
trida_cz                  Savci
cena                       2000
k_prohlidce                   1
Name: Outloň váhavý, dtype: object

In [13]:
serazeno.loc["Želva Smithova":"Želva žlutočelá"]

,id,nazev_en,trida_cz,cena,k_prohlidce
nazev_cz,,,,,
Želva Smithova,1117,Brown roof turtle,Plazi,1000,1
Želva amboinská,479,Malayan box turtle,Plazi,1000,1
Želva annámská,478,Vietnamese pond turtle,Plazi,1000,1
Želva bahenní,1115,European pond turtle,Plazi,1000,1
Želva dlaždicovitá,1338,Impressed tortoise,Plazi,3000,1
Želva egyptská,980,Egyptian tortoise,Plazi,1000,1
Želva hvězdnatá,1412,,Plazi,1500,1
Želva korunkatá,1112,Crowned river turtle,Plazi,2000,1
Želva kubánská,830,North Antillean slider,Plazi,1000,1
Želva obrovská,40,Aldabra giant tortoise,Plazi,5000,1
Želva ostnitá,1255,Spiny turtle,Plazi,2000,1
Želva pardálí,763,Leopard tortoise,Plazi,2000,1
Želva plochohřbetá,987,Malayan flat-shelled turtle,Plazi,2000,1
Želva skalní,41,Pancake tortoise,Plazi,1000,1
Želva sloní,39,Galapagos tortoise,Plazi,5000,1
Želva stepní (= čtyřprstá),38,Russian tortoise,Plazi,1500,1
Želva texaská (= Berlandierova),1096,Texas tortoise,Plazi,1000,1
Želva tlustohrdlá,772,Malaysian black mud turtle,Plazi,1000,1
Želva tuniská,1160,Tunisian spur-thighed tortoise,Plazi,1000,1
Želva zubatá,771,Asian leaf turtle,Plazi,1000,1
Želva černavá,673,Giant Asian pond turtle,Plazi,2000,1
Želva žlutočelá,37,Indochinese box turtle,Plazi,1000,1